<nav aria-label="breadcrumb">

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/mapas">Mapas</a></li>
        <li class="breadcrumb-item active" aria-current="page">Mapa Ultimo Reporte</li>
        
    </ol>
</nav>
<h3>Ubicacion Del ultimo Reporte</h3>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3975.372804030545!2d-74.04854969034368!3d4.877067040084831!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e407811c6c5298f%3A0x6079e8308a27ba5c!2sCl.%2029%2C%20Ch%C3%ADa%2C%20Cundinamarca!5e0!3m2!1ses-419!2sco!4v1683588770288!5m2!1ses-419!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>