<div class="wrapper">
  <div class="body">
    <!-- Logo image -->
    <img class="logo" src="../../../assets/img/HALTOFOREST.png" alt="img login">

    <!-- Heading -->
    <h3>Registrar Usuario</h3>

    <!-- Name input -->
    <div class="form-floating mb-3 mt-3">
      <input type="text" [(ngModel)]="name" class="form-control" placeholder="Ingrese nombre">
      <label>Nombre</label>
    </div>

    <!-- Last name input -->
    <div class="form-floating mb-3 mt-3">
      <input type="text" [(ngModel)]="lastName" class="form-control" placeholder="Ingrese apellido">
      <label>Apellido</label>
    </div>

    <!-- Email input -->
    <div class="form-floating mb-3 mt-3">
      <input type="text" [(ngModel)]="email" class="form-control" placeholder="Ingrese email">
      <label>email</label>
    </div>

    <!-- Password input -->
    <div class="form-floating mb-3">
      <input type="password" [(ngModel)]="password" class="form-control" placeholder="Ingrese password">
      <label>Password</label>
    </div>

    <!-- Confirm password input -->
    <div class="form-floating mb-3">
      <input type="password" [(ngModel)]="confirmPassword" class="form-control" placeholder="Ingrese password de nuevo">
      <label>Repetir Password</label>
    </div>

    <!-- City input -->
    <div class="form-floating mb-3">
      <input type="text" [(ngModel)]="city" class="form-control" placeholder="Ingrese Ciudad">
      <label>Ciudad</label>
    </div>

    <!-- Address input -->
    <div class="form-floating mb-3">
      <input type="text" [(ngModel)]="address" class="form-control" placeholder="Ingrese Direccion">
      <label>Direccion</label>
    </div>

    <!-- Gender input -->
    <div class="form-floating mb-3">
      <input type="text" [(ngModel)]="gender" class="form-control" placeholder="Ingrese Genero">
      <label>Gender</label>
    </div>

    <!-- Phone input -->
    <div class="form-floating mb-3">
      <input type="text" [(ngModel)]="phone" class="form-control" placeholder="Ingrese Telefono">
      <label>Phone</label>
    </div>

    <!-- Accept button -->
    <div class="d-grid gap-2 mb-3">
      <button type="button" (click)="addUser()" class="btn btn-primary btn-lg">Aceptar</button>
    </div>

    <!-- Link to go back to login page -->
    <a routerLink="/login">Volver</a>
  </div>
</div>
