<nav aria-label="breadcrumb">

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/mapas">Mapas</a></li>
        <li class="breadcrumb-item active" aria-current="page">Mapa google</li>
        
    </ol>
</nav>
<h3>Lugar De Desarrollo Haltoforest</h3>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d254424.19244990472!2d-74.19664415845804!3d4.8761881171478745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e407804e92a7317%3A0xd4da4356ceeef151!2sUNIVERSIDAD%20DE%20CUNDINAMARCA%20EXTENSI%C3%93N%20CHIA!5e0!3m2!1ses-419!2sco!4v1683587615031!5m2!1ses-419!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>