<ul class="image-list">
    <li>
      <img src="http://imgfz.com/i/BS8eXDq.png" alt="Imagen 1">
      <p>Gráfico de caja: Muestra la distribución de los valores de la columna 'GradeAffectation' mediante un diagrama de caja. El diagrama de caja representa los cuartiles, la mediana y los valores atípicos. También se muestra una línea vertical para la media. Este gráfico permite analizar la distribución y la presencia de valores atípicos en la afectación de grado en la deforestación.</p>
    </li>
  
    <li>
      <img src="http://imgfz.com/i/f1tk2jX.png" alt="Imagen 2">
      <p>El código genera un gráfico de barras que representa la distribución binomial de las afectaciones de grado. ​
  
        Las barras en el gráfico representan los posibles valores de afectaciones de grado en el eje x, y la probabilidad correspondiente a cada valor se muestra en el eje y. ​
        
        Este gráfico proporciona una visualización de la probabilidad de obtener cada número de afectaciones de grado.</p>
    </li>
  
    <li>
      <img src="http://imgfz.com/i/p98g5aV.png" alt="Imagen 3">
      <p>el código carga los datos, calcula la media y la desviación estándar de la columna 'GradeAffectation' y luego crea y muestra un gráfico de la distribución normal de los datos. Esto permite visualizar la forma y la frecuencia de la distribución de los valores de la columna 'GradeAffectation' en relación con la distribución normal</p>
    </li>
  
    <li>
      <img src="http://imgfz.com/i/Vf35nj0.png" alt="Imagen 3">
      <p>En este caso, se está calculando las medidas de tendencia central de la columna 'GradeAffectation'. ​
  
        La media proporciona una idea de la intensidad promedio de la afectación de grado en la deforestación. ​
        
        la moda indica el valor más común o prevalente de la afectación de grado en la deforestación. ​
        
        La mediana proporciona una medida de tendencia central que representa el punto medio de la afectación de grado en la deforestación</p>
    </li>
  
  </ul>
  