<div class="container cont">
  <div class="row">
    <div class="col-md-8" *ngFor="let post of this.datos">
      <div class="blog-post">
        <h2 class="blog-post-title">{{post.p_title}}</h2>
        <p class="blog-post-meta">Fecha de publicación: {{post.p_created_at}} por <a href="#">{{post.p_iduser}}</a></p>
        <p class="blog-post-meta">Fecha de actualización : {{post.p_updated_at}} y fue hecho por <a href="#">{{post.p_iduser}}</a></p>

        <p>{{post.p_content}}</p>
      </div>
   </div>

    <div class="col-md-4">
      <div class="sidebar">
        <h4>Artículos populares</h4>
        <ul class="list-group">
          <li class="list-group-item">Artículo 1</li>
          <li class="list-group-item">Artículo 2</li>
          <li class="list-group-item">Artículo 3</li>
        </ul>
      </div>
    </div>
  </div>
</div>

