<div class="container cont">
  <div class="row">
    <div class="col-md-8">
      <div class="blog-post">
        <h2 class="blog-post-title">Título del artículo</h2>
        <p class="blog-post-meta">Fecha de publicación: 12 de mayo de 2023 por <a href="#">Autor del artículo</a></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor risus sit amet tortor pharetra, vitae faucibus mi pellentesque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin bibendum semper nisl, vitae fringilla lacus fermentum id. In ultrices lorem at lacinia. Quisque sodales viverra mauris, non eleifend lectus condimentum sit amet.</p>
      </div>

      <div class="blog-post">
        <h2 class="blog-post-title">Título del artículo</h2>
        <p class="blog-post-meta">Fecha de publicación: 10 de mayo de 2023 por <a href="#">Autor del artículo</a></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor risus sit amet tortor pharetra, vitae faucibus mi pellentesque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin bibendum semper nisl, vitae fringilla lacus fermentum id. In ultrices lorem at lacinia. Quisque sodales viverra mauris, non eleifend lectus condimentum sit amet.</p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="sidebar">
        <h4>Artículos populares</h4>
        <ul class="list-group">
          <li class="list-group-item">Artículo 1</li>
          <li class="list-group-item">Artículo 2</li>
          <li class="list-group-item">Artículo 3</li>
        </ul>
      </div>
    </div>
  </div>
</div>

