
<!-- Section: Design Block -->
<section class="">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(192, 9%, 89%)">
      <div class="container">
        <div class="row gx-lg-5 align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <h1 class="my-5 display-3 fw-bold ls-tight">
              Genera tu<br />
              <span class="text-primary">Reporte</span>
            </h1>
            <p style="color: hsl(217, 10%, 50.8%)">
            Genera tu reporte, tomando en cuenta los parametrofa
            establecidos, los reportes generados seran publicados de forma
            periodica tomando su nivel de riesgo y fecha de registro
            </p>
          </div>
  
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card">
              <div class="card-body py-5 px-md-5">
                <form>
     <!-- Generacion de la fecha -->
             
                      <!-- Formato fecha -->
                  <div class="form-outline mb-4">
                    <label for="fecha"><input type="date" > Fecha De Reporte</label>
                  </div>
  
                  <!-- Desplegable tipo de afectacion -->
                  <div class="form-outline mb-4">
                    <select>
                        <option value="opcion1">Ganaderia</option>
                        <option value="opcion2">Petróleo y Gas</option>
                        <option value="opcion3">Oil & Gas</option>
                        <option value="opcion3">Construcción</option>
                        <option value="opcion3">Mineria</option>
                        <option value="opcion3">Urbanización</option>
                        <option value="opcion3">Tala De árboles</option>
                        <option value="opcion3">Cambio Climatico</option>
                        <option value="opcion3">Indencdios Forestales</option>
                      </select>
                      
                    <label class="form-label" for="form3Example3"> Tipo De Reporte</label>
                  </div>


                      <!-- Desplegable tipo de riesgo -->
                      <div class="form-outline mb-4">
                        <select>
                            <option value="opcion1">Bajo</option>
                            <option value="opcion2">Medio</option>
                            <option value="opcion3">Grande</option>
                          </select>
                          
                        <label class="form-label" for="form3Example3"> Tipo De Riesgo</label>
                      </div>
  


                     <!-- Ciudad -->
                     <div class="form-outline mb-4">
                        <select>
                            <option value="opcion1">Chia</option>
                            <option value="opcion2">Cota</option>
                            <option value="opcion3">Zipaquira</option>
                            <option value="opcion3">Tabio</option>
                          </select>
                          
                        <label class="form-label" for="form3Example3"> Ciudad</label>
                      </div>

                
  
                  <!-- Submit button -->
                  <button type="submit" class="btn btn-primary btn-block mb-4">
                    Resgistrar
                  </button>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->